<launch>

  <!-- Lidar https://github.com/ldrobotSensorTeam/ldlidar_stl_ros -->
  <include file="$(find ldlidar_stl_ros)/launch/ld19.launch" />


  <arg name="model" default="$(find bot5_description)/urdf/bot5.xacro"/>
  <arg name="gui" default="false"/>
  <arg name="rvizconfig" default="$(find bot5_description)/launch/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- HB driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />
 
</launch>
